body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

a, a:link {
  color:blue;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}

a:visited {
  color:mediumseagreen;
}

img {
  width:auto;
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin-bottom: 1em;
}

li {
  line-height: 2;
}